/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

/* Header */
#header {
    color: black;
    background-color: #eee;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}

#header-img {
    width: 300px;
}

.nav-items {
    display: flex;
}

.nav-link {
    padding: 15px 25px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

/* Content */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* message-box */

.message-box {
    margin: 50px;
    text-align: center;
}

.message-box h2 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

#form .email {
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 275px;
}

#form .btn {
    margin-top: 15px;
    border: none;
    background-color: #F1c40f;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
}

#form .btn:hover {
    background-color: orange;
    transition: background-color 300ms ease-in;
}

/* features */

#features {
    display: flex;
    flex-direction: column;
    margin: 80px 0px;
}

.feature {
    display: flex;
}

#features .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125px;
    min-width: 180px;
    color: darkorange;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    padding: 5px;
}

/* How It Work */
#how-it-works {
    display: flex;
    justify-content: center;
    width: auto;
}

#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
}

/* Pricing */

#pricing {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.price-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
    width: calc(100%/3);
    border: 1px solid black;
}

.price-box .level {
    background-color: #ddd;
    padding: 15px 0px;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.price-box h2 {
    font-size: 24px;
    margin-top: 15px;
    font-weight: 700;
}

.price-box ul {
    margin: 15px 0px;
}

.price-box ul li {
    font-size: 16px;
    padding: 5px 0px;
}

.price-box .btn {
    margin: 15px 0px;
    background-color: #f1c40f;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}


.price-box .btn:hover {
    background-color: orange;
    transition: background-color 300ms ease-in;
}

/* Footer */
#footer {
    display: flex;
    background-color: #ddd;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;
    padding: 20px;
}

#footer ul {
    display: flex;
    flex-direction: row;
}

#footer ul li a {
    padding: 10px;
    color: black;
}

#footer p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 100;
}

/* max-width: 720px */
@media (max-width: 720px) {
    #nav-bar {
        display: flex;
        flex-direction: column;
    }
    .nav-items {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .nav-items li {
        padding-bottom: 5px;
    }
    #pricing {
        flex-direction: column;
        align-items: center;
    }
    #pricing .price-box {
        width: 50%;
    }
}

/* max-width: 600px */
@media (max-width: 600px) {
    #features .icon {
        display: none;
    }
    #features .desc {
        text-align: center;
    }
}